<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Water Level</th>
      <th>Date</th>
      <th>Time</th>

    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < waterLevelData.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= waterLevelData[i].waterlevel %> cm</td>
        <td><%= waterLevelData[i].date %></td>
        <td><%= waterLevelData[i].time %></td>

      </tr>
    <% } %>
  </tbody>
</table>
